<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main_other_pages.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/miscellaneous">Miscellaneous</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alizee.tran@gmail.com">email</a></li>
	        		<li><a href="https://github.com/alizee-tran">github.com/alizee-tran</a></li>
				</ul>
			</footer>
		</body>
	</html>
